<h1 class="page-title text-center">Update Contact</h1>
<div class="container form-container">
   <!-- Form uses angulars form validation, can only be submitted if required fields are provided and email and phone number are valid -->
  <form
    #updateContactForm="ngForm"
    (ngSubmit)="OnSubmit(updateContactForm)"
    novalidate
  >
    <div class="row">
      <label for="firstName" class="col">First Name:</label>
      <input
        class="col"
        type="text"
        [(ngModel)]="subFirstName"
        name="firstName"
        required
      />
    </div>

    <div class="row">
      <label class="col" for="lastName">Last Name:</label>
      <input
        class="col"
        type="text"
        [(ngModel)]="subLastName"
        name="lastName"
        required
      />
    </div>

    <div class="row">
      <label class="col" for="email">Email Address:</label>
      <input
        class="col"
        type="email"
        [(ngModel)]="subEmail"
        name="email"
        required
        email
      />
      <p>Must be in the form domain&#64;example.com</p>
    </div>

    <div class="row">
      <label class="col" for="phone">Phone Number:</label>
      <input
        class="col"
        type="tel"
        [(ngModel)]="subPhone"
        name="phone"
        required
        pattern="^\d{10}$|^\d{3}-\d{3}-\d{4}$"
      />
      <p>Must be in the form XXX-XXX-XXXX or XXXXXXXXXX</p>
    </div>

    <a routerLink="">
      <button class="btn btn-primary btn-lg">Cancel</button>
    </a>
    <button
      class="btn btn-primary btn-lg"
      type="submit"
      [disabled]="updateContactForm.invalid"
    >
      Update Contact
    </button>
  </form>
</div>
